#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#blog article {
    margin: 20px;
    margin-left: 2em;
    
}

#blog img {
    width: 100%;
    max-width: 250px;
}
#blog h4{
   background-color: red;
}
