
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 33px;
    margin: 20px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 70vh;
    background: rgba(0,0,0,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);

}

    .menu a {
        display: block;
        color: #fff;
        height: 20px;
        text-decoration: none;
        padding: 30px;
        border-bottom: 1px solid rgba(22,3,255,0.4);
        text-align: center;
    }

        .menu a:hover {
            background: rgba(19, 0, 255,0.4);
        }
#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media(min-width:1024px){
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a{
        border: none;


    }

    header label{
        display: none;
    }
}
